﻿
@{
    ViewBag.Title = "Index";
}


<section class="content-header">
    <h1>
        Home
        <small>CCAB - Administrativo</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
   
    </ol>
</section>



