﻿@model Data.Entites.Banner
@{
    ViewBag.Title = "Detalhes do banner " + Model.Titulo;
}

<section class="content-header with-border">
    <h1>Banners<small>Detalhes de banner</small></h1>

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Index","Banners")">Banner</a></li>
        <li><a href="@Url.Action("Details","Banners", new {id = Model.Id})">Detalhes de banner</a></li>
    </ol>
</section>



<section class="content">
    <div class="box">
        <div style="margin-top:50px" class="box-header with-border">

            <img src="~/conteudo/banners/@Model.Imagem" style="width:100%; height:400px;" />



        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered table-striped table-responsive" style="background-color:#CCCCCC;">
                <tbody>
                    <tr>
                <tbody>
                    <tr>
                        <td style=" width:200px;">
                            @Html.DisplayNameFor(model => model.Id)
                        </td>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Titulo)</td>

                        <td>@Html.DisplayFor(model => model.Titulo)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Texto)</td>

                        <td>
                            @if (string.IsNullOrEmpty(Model.Texto))
                            {
                                @:Nenhum
                        }
                            else
                            {
                                @Html.DisplayFor(modelItem => modelItem.Texto);
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Link)</td>
                        <td>
                            @if (string.IsNullOrEmpty(Model.Link))
                            {
                                @:Nenhum
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => modelItem.Link);
                            }
                        </td>
                    </tr>
                    
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.DataCadastro)</td>
                        <td>@Html.DisplayFor(model => model.DataCadastro)</td>
                        
                    </tr>
                </tbody>



            </table>

            <div class="box-footer">

                <a href="@Url.Action("Edit","Banners", new { id = Model.Id })" class="btn btn-warning">Editar</a>

                <a href="@Url.Action("Index", "Banners")" class="btn btn-info">Voltar</a>

            </div>

        </div>



    </div>

</section>