﻿@model Data.Entites.Banner
@{
    ViewBag.Title = "Alterar banner";
}
<section class="content-header" style="border-bottom: 1px solid #f4f4f4;">
    <h1>Banners<small>Editar um banner</small></h1>

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Index","Banners")">Banner</a></li>
        <li><a href="@Url.Action("Edit","Banners", new {id = Model.Id})">Alterar banner</a></li>
    </ol>
</section>

<section class="content">
    <div style="margin-top:50px;" class="content with-border">
        @using (Html.BeginForm("Edit", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(model => model.Id)
       

            @Html.HiddenFor(model => model.Imagem)

            <div class="box-body">
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Titulo)
                        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Titulo)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Link)
                        @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Link)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Texto)
                        @Html.TextBoxFor(model => model.Texto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Texto)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Imagem)
                        <input type="file" name="img" id="img" />
                        <small>Atual:@Model.Imagem</small>
                        @Html.ValidationMessageFor(model => model.Imagem)

                    </div>
                    
                    <div class="form-group">
                        @Html.Label("Liberado?")
                        <input type="radio" name="Liberado" value="true" />Sim
                        <input type="radio" name="Liberado" value="false" />Não
                    </div>

                    <div class="box-footer">
                        <input type="submit" value="Salvar" class="btn btn-success" />
                        <a href="@Url.Action("Index")" class="btn btn-info">Voltar</a>
                    </div>
                </div>

            </div>
        }
    </div>

</section>