﻿@using PagedList.Mvc
@model PagedList.IPagedList<Data.Entites.Banner>
@{
    ViewBag.Title = "Listagem de Banners";
}




<section class="content-header">
    <h1>Banners<small>Lista de banners cadastrados no sistema</small></h1>

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Index","Banners")">Banner</a></li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary" style="margin-top:30px">
        <div class="pull-right">
            <a style="margin:4px; color:white;" href="@Url.Action("Create")" class="btn btn-success bg-blue-gradient pull-right"><i class="fa fa-plus-circle white"></i>&nbsp;Adicionar Banner</a>
        </div>
        <div class="box-title">
            <h3 style="margin-left:10px">Busca</h3>
        </div>
        <div class="fc fc-ltr">

            @using (Html.BeginForm())
            {

                <table class="fc-header" style="width: 65%;">
                    <tbody>
                        <tr style="height: 48px;">
                            <td class="fc-header-left" style="width: 10px;"></td>
                            <td class="fc-header-center">
                                @Html.TextBox("Search", null, new { @class = "form-control", placeholder = "Busca" })
                            </td>
                            <td class="fc-header-right">
                                <input type="submit" value="Enviar" class="btn bg-blue-gradient margin" style="margin-left: 10px;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>

    </div>

    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
                <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 180px;">
                        @Html.DisplayNameFor(model => model.First().Id)
                    </th>
                    <th class="sorting_desc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 223px;" aria-sort="descending">
                        @Html.DisplayNameFor(model => model.First().Titulo)
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 223px;">
                        @Html.DisplayNameFor(model => model.First().DataCadastro)
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 223px;">
                        @Html.DisplayNameFor(model => model.First().Liberado)
                    </th>
                    <th style="float:right">
                        Ações
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {

                    foreach (var item in Model)
                    {
                        <tr role="row" class="odd">
                            <td class="sorting_1">@item.Id</td>
                            <td class="">@item.Titulo</td>
                            <td>@item.DataCadastro</td>
                            <td><span class="label label-@((!item.Liberado) ? "danger" : "success")">@((!item.Liberado) ? "Não" : "Sim")</span></td>
                            <td>
                                <div style="float:right;" class="btn-group">
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-small"><i class="fa fa-edit"></i></a>

                                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn bg-olive btn-small"><i class="fa fa-search-plus"></i></a>

                                    <a chave="@item.Id" href="#" class="btn btn-danger btn-small deletar"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td style="text-align: center;" class="sorting_1" colspan="4">Nenhum banner encontrado.</td>
                    </tr>
                }

            </tbody>

        </table>
        @if (Model.PageCount > 1)
        {
            <div class="box-footer clearfix no-border">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.Search }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        }
    </div>

</section>

@section scripts{

    <script>
        $(function () {
            //$("#example1").DataTable();
            $('#example1').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false
            });
            $('#example1 th:last-child').removeClass('sorting');
        });

        $('.deletar').click(function(e) {
            e.preventDefault();
            alertify.confirm("Deseja apagar esse banner?", function () {
                var url = String("@Url.Action("Delete", new {id = 0})");
                url = url.replace("0", $(this).attr('chave'));
                location.href = url;
            },function () {
                      alertify.error('Cancelado.');
             });
        });
</script>
}
