﻿@model Data.Entites.Pais
@{
    ViewBag.Title = "Detalhes do país " + Model.Nome;
}

<section class="content-header with-border">
    <h1>Países<small>Detalhes de país</small></h1>

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Index","Paises")">Países</a></li>
        <li><a href="@Url.Action("Details", "Paises", new { id = Model.Id })">Detalhes de país</a></li>
    </ol>
</section>



<section class="content">
    <div class="box">
     
        <div class="box-body">
            <table class="table table-bordered table-striped table-responsive" style="background-color:#CCCCCC;">
                <tbody>
                    <tr>
                <tbody>
                    <tr>
                        <td style=" width:200px;">
                            @Html.DisplayNameFor(model => model.Id)
                        </td>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Nome)</td>

                        <td>@Html.DisplayFor(model => model.Nome)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Imagem)</td>
                        <td><img src="~/conteudo/paises/@Model.Imagem" style="width:100%; height:400px;" /></td>
                    </tr>

                    <tr>
                        <td>@Html.DisplayNameFor(model => model.DataCadastro)</td>
                        <td>@Html.DisplayFor(model => model.DataCadastro)</td>

                    </tr>
                </tbody>



            </table>

            <div class="box-footer">

                <a href="@Url.Action("Edit","Banners", new { id = Model.Id })" class="btn btn-warning">Editar</a>

                <a href="@Url.Action("Index", "Banners")" class="btn btn-info">Voltar</a>

            </div>

        </div>



    </div>

</section>